<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>

	<div>
		<form th:action="date" th:method="get">
			日付：<input type=date name="start" value="${start}" id="start">
			～ <input type=date name="end" value="${end}" id="end"> <input
				type="submit" value="絞り込み">
		</form>
	</div>

	<div class="content">
		<div th:each="content : ${contents}">
			ID:<a th:text="${content.id}"></a><br />
			<a th:text="${content.created_date}"></a><br />
			<a th:text="${content.content}"></a><br />
			<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
			<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
				<input type="submit" value="削除" />
			</form>
			<div class="comment">
					<form th:action="@{/comment}" th:object="${formModel}" th:method="post">
						<input type="text" name="content" size="50" maxlength="200" /><br />
						<input type="hidden" name="report_id" th:value="${content.id}">
						<input type="submit" value="返信" />
					</form>
					<div th:each="comment : ${comments}">
					    <div th:if="${content.id} == ${comment.report_id}" >
					        <a th:text="${comment.created_date}"></a><br />
					        <a th:text="${comment.content}"></a><br />
					        <a th:href="@{/editComment/{id}(id=${comment.id})}"><button type="button">編集</button></a>
						    <form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
							    <input type="submit" value="削除" />
						    </form>
					</div>
					</div>
			</div><br />
		</div>
	</div>
</body>
</html>